<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @photos.each do |photo| %>
      <div class="swiper-slide">
        <%= image_tag photo.photo.url(:medium) %><br/>
        <%= photo.title %>
      </div>
    <% end %>
  </div>
  <div class="pagination">&nbsp;</div>
</div>
<script>
  var mySwiper = $('.swiper-container').swiper({
    //Your options here:
    pagination: '.pagination',
    loop:true,
    autoplay:3000,
    paginationClickable:true,
    calculateHeight:true,
    touchRatio:0.6,
  });
</script>
