<% cache @album  do %>
  <h1>アルバム内の写真</h1>
  <div id="post_photo_form" class="post_poto_form">
    <div id="post_photo_form_div" class="post_photo_form_div">
      <%= link_to '修正する', action: 'edit', controller: 'lifephoto/albums' %><br/>
      title:<%= @album.title %><br/>
      <%= @album.description %><br/>
    </div>
  </div>
<% end %>
<%= render 'album_detail' %>
