<h1>Wellcome!! </h1>
<% if current_user %>
<div ng-controller="PhotosCtrl">
  <div id="photo-list-container">
    <ul>
      <li ng-repeat="photo in photos">
        <h3>{{photo.title}} <small>({{photo.description}})</small></h3>
      </li>
    </ul>
  </div>
</div>
<% end %>

