<%= javascript_tag do %>
    $(function() {
        if(window.EventSource) {
            new Map("map");
        } else {
            $("#map").text("EventSource を利用できるブラウザでアクセスしてください。");
        }
    });
<% end %>
<div class="contents">
	<div class="content_div">
    <div id ="map" >
		</div>
	</div>
	<div class="content_div">
		<% @albums.each do|album| %>
			<div class="album_div"><%= album.title %></div>
		<% end %>
	</div>
</div>

