  <div class="group_member_list">
		グループ名: <%=@group.name %> &nbsp;&nbsp;| <%= link_to '招待する', action: 'invite_member', controller: 'group_members', group_id: @group.id %>
    <table>
      <tr>
        <th></th>
      </tr>
 <% @group_members.each do |member| %>
     <tr>
       <div class="group_member_div">
         <%= member.e_mail %><br/>
       </div>
     </tr>
 <% end %>
  </div>


