<h1>Listing events</h1>
<div class="content" ng-controller="eventCtrl" >
	<div class="content_div" ng-init="doSearch()">
	<li ng-repeat="event in events">
	{{event.title}} {{event.start}} から {{event.end}} |&nbsp;&nbsp;<a href='/events/{{event.id}}' >詳細</a> &nbsp;&nbsp;
	</li>
	</div>
<br>

<%= link_to 'New Event', new_event_path %>
</div>
