<h1>アルバム内の写真</h1>

<div class="device">
  <a class="arrow-left" href="#"></a> 
  <a class="arrow-right" href="#"></a>
  <div class="swiper-container">
    <div class="swiper-wrapper">
		<% @photos.each do |photo| %>		
      <div class="swiper-slide"> <%= image_tag photo.photo.url(:original) %></div>
    <% end %>   
      <div class="swiper-slide">
        <div class="content-slide">
          <p class="title"><%= @album.title %></p>
          <p><%= @album.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination"></div>
</div>
  <script src="js/jquery-1.10.1.min.js"></script>
  <script src="js/idangerous.swiper-2.1.min.js"></script>
  <script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    loop:true,
    grabCursor: true,
    paginationClickable: true
  })
  $('.arrow-left').on('click', function(e){
    e.preventDefault()
    mySwiper.swipePrev()
  })
  $('.arrow-right').on('click', function(e){
    e.preventDefault()
    mySwiper.swipeNext()
  })
  </script>


