<h1>アルバム内の写真</h1>
  <div class="swiper-container">
    <div class="swiper-wrapper">
		  <% @photos.each do |photo| %>		
      <div class="swiper-slide orange-slide">
        <div class="title"><%= image_tag photo.photo.url(:original) %></div>
        <p><%= photo.title %></p>
      </div>
      <% end %>
    </div>
    <div class="pagination"></div>
  </div>
  <script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true,
    freeMode: true,
    freeModeFluid: true
  })
  </script>

