<h1>Albums#index</h1>

<table >
	<tr>
		<th>アルバム名</th>
		<th></th>
	</tr>
<% @albums.each do |album| %>
	<tr>
		<td> <%= album.title %></td>
		<td> <%= link_to '詳細へ' , album %></td>
	</tr>
<% end %>

</table>

