<h1>写真一覧</h1>
<%= paginate @photos %>
<div class="photo_list">
	<table>
    <tr>
      <th></th>
		</tr>
<% @photos.each do |photo| %>
	<tr>
    <div class="photo_div">
	    <%= image_tag photo.photo.url(:thumb) %>
	    <%= photo.title %>
		</div>
	</tr>
<% end %>
</div>
