// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    width: 600px;
    height: 600px;
    background-color: gray;
}
.content {
  width: 800px;
  height: 700px;
	padding: 10px;
	margin: 5px;
	background-color: white;
}


