#photo_form.photo_form
  #photo_form_div.photo_form_div
    = form_for(@group, url: '/lifephoto/groups' ) do |f|
      = f.label :name
      \:#{f.text_field :name}
      %br/
      .actions
        = f.submit
