<div class="content" >
	<div class="content_div">
  <%=@groups.each do|group| %>
		<li><%=group.name %> |&nbsp;&nbsp;<a href="/lifephoto/groups/<%=group.id %>">詳細</a>&nbsp;&nbsp;</li>
  <% end %>
  </div>
</div>
