%menu
  = link_to_unless_current '写真投稿', new_lifephoto_photo_path
  \&nbsp;&nbsp;|&nbsp;&nbsp;
  \#{link_to_unless_current '複数写真一括投稿', multi_upload_lifephoto_photos_path}&nbsp;&nbsp;|&nbsp;&nbsp;
%br/
