<!DOCTYPE html>
<html >
<head>
	<title>LifePhotos</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" href="assets/idangerous.swiper.css">
  <%= stylesheet_link_tag    "guest_user", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "guest_user" %>
	<%= csrf_meta_tags %>
<script type="text/javascript">
/*======
Use document ready or window load events
For example:
With jQuery: $(function() { ...code here... })
Or window.onload = function() { ...code here ...}
Or document.addEventListener('DOMContentLoaded', function(){ ...code here... }, false)
=======*/

window.onload = function() {
  var mySwiper = new Swiper('.swiper-container',{
    //Your options here:
    mode:'horizontal',
    loop: true
    //etc..
  });  
}

/*
Or with jQuery/Zepto
*/
$(function(){
  var mySwiper = $('.swiper-container').swiper({
    //Your options here:
    mode:'horizontal',
    loop: true
    //etc..
  });
})

</script>
</head>
<body>
	<header>
  Life Photos
  </header>
	<br/>
	<br/>
<%= yield %>
  <script src="http://lifephoto.herokuapp.com/assets/bucky.min.js" data-bucky-host="http://buckyserver.herokuapp.com/bucky" data-bucky-page data-bucky-requests></script>
</body>
</html>
